@font-face {
    font-family: "OpenSans-Regular";
    src: url(./fonts/OpenSans-Regular.ttf);
}

header {
    max-width: 1920px;
    margin-left: 100%;
    margin-right: 100%;

}

main {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#inputContentId {
    margin-bottom: 24px;
}

.inputField {
    font-size: 24px;
}

.inputLabel {
    font-size: 24px;
    font-weight: bold;
}

.inputContent::placeholder {
    color: red;
    opacity: 1;
}

footer {
    max-width: 1920px;
    width: 100%;
    margin-top: 30px;

}
button{
    height: 20px;
    width: 25px;
    padding-left: 10px;
    padding-right: 18px;
    align-items: center;
    border: 1px;
    border-color: auto;
    border-style: solid;
    margin-left: 2px;
    margin-right: 2px;
}