@font-face {
    font-family: "OpenSans-Regular";
    src: url(./fonts/OpenSans-Regular.ttf);
}

header {
    max-width: 1920px;
    margin-left: 100%;
    margin-right: 100%;

}

main {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#inputContentId {
    margin-bottom: 24px;
}

.inputField {
    font-size: 24px;
}

.inputLabel {
    font-size: 24px;
    font-weight: bold;
}

.inputContent::placeholder {
    color: red;
    opacity: 1;
}
