body{
    font-family: "OpenSans-Regular";
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display:flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(161, 255, 253);
}

a {
    text-decoration: none;
}
