#tableId {
    border-collapse: collapse;
    max-width: 1920px;
    padding: 0;

}

.tableHead {
    border-collapse: collapse;
    border: 2px solid black;
    font-size: large;
}

th {
    border-collapse: collapse;
    font-size: medium;
    border: 1px solid black;
    word-wrap:break-word;
}

.leftCell {
    border-left: 2px solid black;
}

.rightCell {
    border-right: 2px solid black;
}

#tableCollumnChangeId {
    width: 150px;
}

#tableCollumnDateId {
    width: 300px;
}

#tableCollumnTitleId {
    width: 15%;
}

@media (max-width: 500px) {
    #tableCollumnTitleId {
        width: 100px;
    }}
#tableCollumnContentId {
    width: 55%;
    }

#tableCollumnStatusId {
    width: 200px;
}

.tableBottom {
    border-bottom: 2px solid black;
}

.normalClass{
    background-color:white;
}

.archiveClass{
    background-color: rgb(193, 255, 213);
  }
.deleteClass{
    background-color: rgb(255, 176, 176);
}

.tableHead{background-color: rgb(47, 47, 47);
color: white;
}
