#tableId {
    border-collapse: collapse;
    max-width: 1920px;
    padding: 0;

}

.tableHead {
    border-collapse: collapse;
    border: 2px solid black;
    font-size: large;
}

th {
    border-collapse: collapse;
    font-size: medium;
    border: 1px solid black;
    word-wrap:break-word;
}


.leftCell {
    border-left: 2px solid black;
}

.rightCell {
    border-right: 2px solid black;
}

#tableCollumnChangeId {
    width: 80px;
}

#tableCollumnDateId {
    width: 250px;
}

#tableCollumnTitleId {
    width: 10%;
}

#tableCollumnContentId {
    width: 70%;
    }

#tableCollumnStatusId {
    width: 80px;
}
.tableBottom {
    border-bottom: 2px solid black;
}
.normalClass{
    background-color: rgb(221, 254, 172);
}
.archiveClass{
    background-color: rgb(52, 52, 52);
    color:white;
}
.deleteClass{
    background-color: rgb(255, 176, 176);
}